<div class="headline">
    <a>Choose Your Car</a>
</div>
    <div class="contanir">
        <div></div>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
                <div class="brand">
                    <h2>
                        Brand : <span id= "brand-get" >{{brand}}</span>
                    </h2>
                </div>
                <div class="model">
                    <h2>
                        Model : <span id= "model-get"></span>
                    </h2>
                </div>
                <div class="city">
                    <h2>
                        City : <span id= "city-get"></span>
                    </h2>
                </div>
                <div class="type">
                    <h2>
                        Type : <span id= "type-get"></span>
                    </h2>
                </div>            
        </mat-card-content>
    </mat-card>
</div>
