
<div class="headline">
    <a>Register Form</a>
</div>
    <div class="contanir">
        <div></div>
        <div class="registerform">
                <mat-form-field class="form" appearance="fill"> 
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Ex. mahmoud" >
                </mat-form-field>
                        <mat-form-field class="form" appearance="fill">
                        <mat-label>Mobile</mat-label>
                        <input matInput placeholder="Ex. +20 106 1775 567" >
                        </mat-form-field> 
                        <mat-form-field class="form" appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Type Strong Password" >
                    </mat-form-field> 
                    <mat-form-field class="form" appearance="fill">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput placeholder="Confirm Your Password pleas" >
                    </mat-form-field> 
                    <button class="singupbutton" mat-flat-button color="primary">Primary</button>
        </div>
</div>
